.Navbar .header {
  /* background-color: rgb(211, 205, 216); */
  width: 85%;
  height: 70px;
  position: absolute;
  right: 0;
  background: #7b4397; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #dc2430,
    #7b4397
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #dc2430,
    #7b4397
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.logo_image {
  width: 75px;
  height: 75px;
  /* margin-left: 10px; */
}

.Navbar .header ul li {
  list-style: none;
  display: inline-block;
}

.Navbar .header ul li .logo_image {
  margin-left: 130px;
}
.Navbar .header ul .menu {
  position: absolute;
  right: 30px;
  padding: 20px;
  top: 8px;
}
.Navbar .header ul .menu .list a {
  padding: 20px;
  color: antiquewhite;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 400;
}
.Navbar .header ul .menu .list a:hover {
  color: rgb(12, 12, 12);
}
