.Sidebar .header {
  width: 15%;
  height: 700px;
  background: #6a3093; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #a044ff,
    #6a3093
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #a044ff,
    #6a3093
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.Sidebar .header .content {
  color: antiquewhite;
  font-size: 1.8rem;
  letter-spacing: 1.2px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 30px;
}
.Sidebar .header ul .side_menu li a {
  text-decoration: none;
  color: antiquewhite;
  padding: 40px;
  display: block;
  font-size: 1.3rem;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.Sidebar .header ul .side_menu li a:hover {
  background-color: black;
}
