* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: rgb(9, 4, 48);
  color: #fff;
  font-family: "Press Start 2P", sans-serif;
}
.heading {
  text-align: center;
  margin-top: 20px;
}
.btw_num {
  text-align: center;
  margin-top: 20px;
  margin-left: 10px;
}
.line {
  width: 100%;
  height: 10px;
  background-color: #fff;
  margin-top: 100px;
}
.question {
  color: #fff;
  width: 175px;
  height: 87px;
  text-align: center;
  font-size: 4.5rem;
  position: absolute;
  padding: 10px 10px;
  align-items: center;
  margin-top: -62px;
  margin-left: 715px;
  background-color: rgb(7 6 31);
  border: 2px solid black;
}
.message {
  text-align: center;
  margin-top: -163px;
}
.label-score {
  text-align: center;
  margin-top: 95px;
}
.label-highscore {
  text-align: center;
  margin-top: 31px;
  margin-left: 39px;
}
.footer {
  text-align: center;
}
.guess {
  text-align: center;
  margin-top: 40px;

  width: 123px;
  height: 19px;
  font-family: "Press Start 2P", sans-serif;
  display: inline-block;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #0e0101;
  background-color: #f2f7f3;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #3c2e2e;
}
.reset {
  text-align: center;
  margin-top: 20px;

  width: 123px;
  height: 19px;
  font-family: "Press Start 2P", sans-serif;
  display: inline-block;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #0e0101;
  background-color: #f2f7f3;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #3c2e2e;
}
.input_number {
  width: 250px;
  height: 120px;
  margin-left: 120px;
  margin-top: 100px;
  font-size: 66px;
  text-align: center;
  border-style: double;
  border-width: 10px;
  border-color: #0e0101;
  font-family: "Press Start 2P", sans-serif;
  background-color: rgb(203, 201, 234);
}
.btn:hover {
  background-color: green;
}
.guess:hover {
  background-color: red;
}
.btn:active {
  transform: translateY(2px);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
