*{
    margin: 0;
    padding: 0;
}
.hero_img{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://lh3.googleusercontent.com/XQW_tiep9V_QQ-Ny1F3MqtC2DR1S8yoqMfcbuFZ-9Ikm0vOPkpPH_t1g3fzy8KS2LuLtYN8dKLRpm8qyvBiIJaXpUTLJ1or0INGqggc");
        height: 600px;
        width: 80%;
        margin-left: 160px;
        margin-top: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
}
.main_heading{
    float: right;
    margin-right: 220px;
    margin-top: 24px;
    font-family: 'Comforter Brush', cursive;
    font-size: 60px;
    background: linear-gradient(to right, #ece507 0%, #290258 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.event{
    float: right;
    margin-top: 227px;
    margin-right: -390px;
    font-size: 26px;
    font-family: 'Shantell Sans', cursive;
    background: radial-gradient(circle farthest-corner at center center, #923b77 0%, #2b387b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.time{
    color: #f2ff0aef;
    margin-right: -125px;
    margin-top: 140px;
    float: right;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
}
.date{
    color: #f2ff0aef;
    margin-right: -180px;
    float: right;
    margin-top: 168px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
}
.para{
    margin-right: -461px;
    float: right;
    margin-top: 256px;
    font-size: 24px;
    font-family: 'The Girl Next Door', cursive;
    font-weight: 200;
    background: #ff00f7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff00f7, #fbe918); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff00f7, #fbe918); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;


}